.meet-jackie-hero {
    background-color: #EBE8E4;
    text-align: center;
    max-width: 100%;
    margin: auto;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.meet-jackie-hero-content {
    flex: 1;
    max-width: 50%;
    padding: 0 2em;
    box-sizing: border-box;
}

.meet-jackie-hero-text {
    font-family: 'GFS Didot', serif;
    color: #745B4F;
    text-align: center;
}

.meet-jackie-hero h1 {
    font-family: 'Italianno', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.meet-jackie-hero-image {
    flex: 1;
    max-width: 50%;
    position: relative;
}

.lipstick-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}
.meet-jackie-hero-content {
    flex: 1;
    max-width: 50%;
    padding: 0 2em;
    box-sizing: border-box;
    margin-bottom: 1rem; /* Add margin bottom */
}

@media (max-width: 768px) {
    .meet-jackie-hero-content {
        max-width: 100%;
    }

    .meet-jackie-hero-text {
        font-size: 0.9rem; /* Adjust font size */
    }

    .meet-jackie-hero-image {
        max-width: 70%;
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .meet-jackie-hero h1 {
        font-size: 1.8rem;
    }

    .meet-jackie-hero-text {
        font-size: 0.8rem; /* Further adjust font size */
    }
}
