@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,400;1,500&display=swap');

main {
	display: grid;
	place-items: center;
	width: 40.625em; /* 650px */
	height: 28.125em; /* 450px */
	background-image: url("https://assets.codepen.io/4787486/rainforest.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0.03125em; /* 0.5px */
	box-shadow: 0.625em 0.625em 3.125em #373e12; /* 10px 10px 50px */
	transition: 2s ease;
	overflow: hidden;
}
main > * {
	grid-area: 1 / 1;
}
img {
	width: 40.625em; /* 650px */
	height: 28.125em; /* 450px */
	clip-path: inset(15% 47% 15% 47% round 0em);
	transition: 1.5s ease;
}
main:hover img {
	clip-path: inset(0% 0% 0% 0% round 0.03125em); /* 0.5px */
}

h2 {
	font-size: 2.8125em; /* 4.5rem assuming rem is 16px */
	color: #C4D570;
	transition: 3s ease;
	font-family: 'Aref Ruqaa Ink', serif;
	z-index: 10;
}
h2:nth-child(2) {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	opacity: 0;
}
main:hover h2:nth-child(1) {
	opacity: 0;
}
main:hover h2:nth-child(2) {
	color: #999;
	transition-delay: 1.5s;
	opacity: 1;
}

body:hover {
	background: #b3b3b3;
}
body:hover main {
	box-shadow: 0.625em 0.625em 3.125em #666; /* 10px 10px 50px */
}

*, * + * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: #C4D570;
	transition: 3s ease;
}
