/* Accordion.module.css content remains the same */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .accordion {
    list-style-type: none;
    display: flex;
    gap: 0.15rem;
    padding: 0.15rem;
  }
  
  .item {
    flex: 1;
    height: 70vmin;
    cursor: pointer;
    overflow: hidden;
    transition: flex 1s;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    transition: transform 0.75s ease-in-out;
  }
  
  .item:last-of-type img {
    transform: scale(4);
  }
  
  .item:hover img {
    transform: scale(1);
  }
  
  .accordion:hover .item:not(:hover) img {
    transform: scale(5.5);
  }
  